n8n/workflows/03-variation-order-notification.json
{
  "name": "Variation Order Raised Notification (WhatsApp)",
  "nodes": [
    {
      "id": "n1",
      "name": "Variation Order Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "variation-order-raised",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "n2",
      "name": "Get Webhook Secret",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [220, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "select decrypted_secret from vault.decrypted_secrets where name = 'variation_order_raised_webhook_secret' limit 1",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "LI49jpFJOx2PbcBp",
          "name": "Supabase Dev (mutiso-v2 kmcgcqnuxixsxqwigfir)"
        }
      }
    },
    {
      "id": "n3",
      "name": "Verify Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [440, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.decrypted_secret }}",
              "rightValue": "={{ $('Variation Order Webhook').item.json.headers['x-webhook-secret'] }}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "n4",
      "name": "Unauthorized Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [660, 450],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"invalid webhook secret\"}",
        "options": { "responseCode": 401 }
      }
    },
    {
      "id": "n5",
      "name": "Has Phone",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [660, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond2",
              "leftValue": "={{ $('Variation Order Webhook').item.json.body.foreman_phone }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "n6",
      "name": "Send WhatsApp Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [880, 300],
      "parameters": {
        "method": "POST",
        "url": "https://flatworm-corporal-curing.ngrok-free.dev/message/sendText/mutiso-test5",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "ngrok-skip-browser-warning", "value": "true" }]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { \"number\": $('Variation Order Webhook').item.json.body.foreman_phone.replace(/\\D/g, ''), \"text\": \"📝 *Variation Order Raised*\\n\\nSite: \" + $('Variation Order Webhook').item.json.body.site_name + \"\\nTitle: \" + $('Variation Order Webhook').item.json.body.title + \"\\nCost impact: \" + ($('Variation Order Webhook').item.json.body.cost_impact != null ? 'KES ' + Number($('Variation Order Webhook').item.json.body.cost_impact).toLocaleString('en-KE') : 'n/a') + \"\\nTime impact: \" + ($('Variation Order Webhook').item.json.body.time_impact_days != null ? $('Variation Order Webhook').item.json.body.time_impact_days + ' day(s)' : 'n/a') + \"\\n\\n\" + $('Variation Order Webhook').item.json.body.description + \"\\n\\nOpen Mutiso.AI for details.\" } }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "vpRac8Wc96KOUhNz",
          "name": "Evolution API (mutiso-test5)"
        }
      }
    },
    {
      "id": "n7",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1100, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"sent\"}",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "n8",
      "name": "No Phone Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [880, 450],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"skipped\", \"reason\": \"foreman has no phone number on file or none assigned\"}",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "Variation Order Webhook": { "main": [[{ "node": "Get Webhook Secret", "type": "main", "index": 0 }]] },
    "Get Webhook Secret": { "main": [[{ "node": "Verify Secret", "type": "main", "index": 0 }]] },
    "Verify Secret": {
      "main": [
        [{ "node": "Has Phone", "type": "main", "index": 0 }],
        [{ "node": "Unauthorized Response", "type": "main", "index": 0 }]
      ]
    },
    "Has Phone": {
      "main": [
        [{ "node": "Send WhatsApp Alert", "type": "main", "index": 0 }],
        [{ "node": "No Phone Response", "type": "main", "index": 0 }]
      ]
    },
    "Send WhatsApp Alert": { "main": [[{ "node": "Success Response", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  }
}
