n8n/workflows/04-invite-email.json
{
  "name": "Foreman Invite Email (Gmail)",
  "nodes": [
    {
      "id": "n1",
      "name": "Invite Created Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "invite-created",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "n2",
      "name": "Get Webhook Secret",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [220, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "select decrypted_secret from vault.decrypted_secrets where name = 'invite_created_webhook_secret' limit 1",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "LI49jpFJOx2PbcBp",
          "name": "Supabase Dev (mutiso-v2 kmcgcqnuxixsxqwigfir)"
        }
      }
    },
    {
      "id": "n3",
      "name": "Verify Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [440, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.decrypted_secret }}",
              "rightValue": "={{ $('Invite Created Webhook').item.json.headers['x-webhook-secret'] }}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "n4",
      "name": "Unauthorized Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [660, 450],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"invalid webhook secret\"}",
        "options": { "responseCode": 401 }
      }
    },
    {
      "id": "n5",
      "name": "Has Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [660, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond2",
              "leftValue": "={{ $('Invite Created Webhook').item.json.body.email }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "n6",
      "name": "Send Invite Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [880, 300],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Invite Created Webhook').item.json.body.email }}",
        "subject": "={{ \"You've been invited to join \" + $('Invite Created Webhook').item.json.body.site_name + \" on Mutiso.AI\" }}",
        "emailType": "html",
        "message": "={{ \"<p>You've been invited to join <strong>\" + $('Invite Created Webhook').item.json.body.site_name + \"</strong> as a foreman on Mutiso.AI.</p><p><a href='https://mutisoai.vercel.app/join?token=\" + $('Invite Created Webhook').item.json.body.token + \"'>Click here to accept the invite</a></p><p>This link expires on \" + $('Invite Created Webhook').item.json.body.expires_at + \".</p><p>If you weren't expecting this invite, you can ignore this email.</p>\" }}",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "nTk3mct38D7UY8fA",
          "name": "Gmail account"
        }
      }
    },
    {
      "id": "n7",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1100, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"sent\"}",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "n8",
      "name": "No Email Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [880, 450],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"skipped\", \"reason\": \"invite has no email on file\"}",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "Invite Created Webhook": { "main": [[{ "node": "Get Webhook Secret", "type": "main", "index": 0 }]] },
    "Get Webhook Secret": { "main": [[{ "node": "Verify Secret", "type": "main", "index": 0 }]] },
    "Verify Secret": {
      "main": [
        [{ "node": "Has Email", "type": "main", "index": 0 }],
        [{ "node": "Unauthorized Response", "type": "main", "index": 0 }]
      ]
    },
    "Has Email": {
      "main": [
        [{ "node": "Send Invite Email", "type": "main", "index": 0 }],
        [{ "node": "No Email Response", "type": "main", "index": 0 }]
      ]
    },
    "Send Invite Email": { "main": [[{ "node": "Success Response", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  }
}
