n8n/workflows/10-waste-disposal-digest.json
{
  "name": "Waste Disposal Compliance Digest (WhatsApp)",
  "nodes": [
    {
      "id": "n1",
      "name": "Thursday Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": [4], "triggerAtHour": 7, "triggerAtMinute": 0 }]
        }
      }
    },
    {
      "id": "n2",
      "name": "Get Waste Entries",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [220, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "with week_entries as (\n  select\n    s.owner_id,\n    s.site_name,\n    wl.waste_type,\n    wl.disposal_method,\n    sum(coalesce(wl.quantity,0)) as total_quantity,\n    string_agg(distinct wl.unit, '/') as units,\n    count(*) as entry_count\n  from waste_log wl\n  join sites s on s.id = wl.site_id and s.status = 'active'\n  where wl.date between (date_trunc('week', current_date) - interval '7 days')::date and (date_trunc('week', current_date) - interval '1 day')::date\n  group by s.owner_id, s.site_name, wl.waste_type, wl.disposal_method\n)\nselect\n  we.owner_id,\n  p.phone_number as owner_phone,\n  sum(we.entry_count) as total_entries,\n  string_agg(\n    '- ' || we.site_name || ': ' || we.waste_type || ' (' || we.disposal_method || ') - ' ||\n    case when we.total_quantity > 0 then we.total_quantity || ' ' || coalesce(we.units,'') else we.entry_count || ' entr' || (case when we.entry_count=1 then 'y' else 'ies' end) end,\n    E'\\n' order by we.site_name\n  ) as digest_body\nfrom week_entries we\njoin profiles p on p.id = we.owner_id\ngroup by we.owner_id, p.phone_number;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "LI49jpFJOx2PbcBp",
          "name": "Supabase Dev (mutiso-v2 kmcgcqnuxixsxqwigfir)"
        }
      }
    },
    {
      "id": "n5",
      "name": "Has Phone",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [440, 400],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond2",
              "leftValue": "={{ $json.owner_phone }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "n6",
      "name": "Send WhatsApp Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [660, 350],
      "parameters": {
        "method": "POST",
        "url": "https://flatworm-corporal-curing.ngrok-free.dev/message/sendText/mutiso-test5",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "ngrok-skip-browser-warning", "value": "true" }]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { \"number\": $json.owner_phone.replace(/\\D/g, ''), \"text\": \"♻️ *Waste Disposal Compliance Digest*\\n\\n\" + $json.total_entries + \" waste log entr\" + ($json.total_entries == 1 ? 'y' : 'ies') + \" this week:\\n\\n\" + $json.digest_body + \"\\n\\nOpen Mutiso.AI to review.\" } }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "vpRac8Wc96KOUhNz",
          "name": "Evolution API (mutiso-test5)"
        }
      }
    }
  ],
  "connections": {
    "Thursday Schedule": { "main": [[{ "node": "Get Waste Entries", "type": "main", "index": 0 }]] },
    "Get Waste Entries": { "main": [[{ "node": "Has Phone", "type": "main", "index": 0 }]] },
    "Has Phone": { "main": [[{ "node": "Send WhatsApp Digest", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Nairobi",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  }
}
