n8n/workflows/11-whatsapp-chatbot.json
{
  "name": "WhatsApp Contractor Chatbot",
  "nodes": [
    {
      "id": "n1",
      "name": "WhatsApp Inbound Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 304],
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-inbound",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "n2",
      "name": "Is Real Inbound Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [224, 304],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.body.data.message.conversation || $json.body.data.message.extendedTextMessage.text }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "n3",
      "name": "Resolve Contractor",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [448, 304],
      "parameters": {
        "operation": "executeQuery",
        "query": "select p.id as owner_id, p.full_name,\n  (select jsonb_agg(jsonb_build_object('site_id', s.id, 'site_name', s.site_name) order by s.site_name)\n   from sites s where s.owner_id = p.id and s.status = 'active') as sites\nfrom profiles p\nwhere regexp_replace(p.phone_number, '\\D', '', 'g') = regexp_replace($1, '\\D', '', 'g')\nlimit 1;",
        "options": { "queryReplacement": "={{ $json.body.data.key.remoteJid.split('@')[0] }}" }
      },
      "credentials": {
        "postgres": { "id": "LI49jpFJOx2PbcBp", "name": "Supabase Dev (mutiso-v2 kmcgcqnuxixsxqwigfir)" }
      }
    },
    {
      "id": "n4",
      "name": "Has Sites",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [672, 304],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "c3",
              "leftValue": "={{ $json.sites }}",
              "rightValue": "",
              "operator": { "type": "array", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "n5",
      "name": "Not Recognized Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [832, 592],
      "parameters": {
        "method": "POST",
        "url": "https://flatworm-corporal-curing.ngrok-free.dev/message/sendText/mutiso-test5",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "ngrok-skip-browser-warning", "value": "true" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"number\": $('WhatsApp Inbound Webhook').item.json.body.data.key.remoteJid.split('@')[0], \"text\": \"Sorry, I don't recognize this number as a Mutiso.AI contractor account. If this is a mistake, please contact support.\" } }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": { "id": "vpRac8Wc96KOUhNz", "name": "Evolution API (mutiso-test5)" }
      }
    },
    {
      "id": "n6",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [848, 144],
      "parameters": {
        "promptType": "define",
        "text": "={{ $('WhatsApp Inbound Webhook').item.json.body.data.message.conversation || $('WhatsApp Inbound Webhook').item.json.body.data.message.extendedTextMessage.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant for a Kenyan construction-site management app called Mutiso.AI, chatting via WhatsApp with {{ $json.full_name }}, a contractor.\n\nThis contractor owns the following active site(s): {{ JSON.stringify($json.sites) }}\n\nRules:\n- If they ask about a specific site by name, match it case-insensitively against the list above and use that exact site_id when calling query_site_data.\n- If they own more than one site and their question doesn't make clear which site they mean, ask them to clarify by name (list the site names for them) BEFORE calling any tool.\n- If they only own one site, assume every question is about it without asking.\n- NEVER invent, guess, or reuse a site_id from a previous conversation - only ever use one of the site_id values listed above for THIS contractor.\n- Use the query_site_data tool for questions about: attendance, deliveries, usage (materials used), inventory, incidents, defects, diary (day-to-day site activity log), progress (percent complete/milestones/overdue activities), payroll, visitors, certifications, permits, budget.\n- Keep answers concise and conversational, formatted as plain text suitable for WhatsApp - no markdown tables, no headers.\n- WhatsApp formatting only: use single asterisks for *bold* (never double asterisks/markdown **bold**), single underscores for _italic_. Use short line breaks and dash bullets, not numbered markdown lists.\n- If a query returns no data, say so plainly rather than making something up.\n- Today's date is {{ $now.format('yyyy-MM-dd') }}."
        }
      }
    },
    {
      "id": "n7",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [832, 384],
      "parameters": { "model": { "mode": "id", "value": "gpt-4o-mini" }, "options": {} },
      "credentials": {
        "openAiApi": { "id": "HR9dA2FHVxfiHDPY", "name": "OpenAI (Mutiso Chatbot)" }
      }
    },
    {
      "id": "n8",
      "name": "Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.4,
      "position": [944, 384],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Inbound Webhook').item.json.body.data.key.remoteJid }}",
        "contextWindowLength": 50
      },
      "credentials": {
        "postgres": { "id": "LI49jpFJOx2PbcBp", "name": "Supabase Dev (mutiso-v2 kmcgcqnuxixsxqwigfir)" }
      }
    },
    {
      "id": "n9",
      "name": "query_site_data",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [1088, 384],
      "parameters": {
        "description": "Query real Mutiso.AI site data for this contractor. query_type must be exactly one of: attendance, deliveries, usage, inventory, incidents, defects, diary, progress, payroll, visitors, certifications, permits, budget. site_id must be exactly one of the site_id values given in the system message for this contractor - never invent or guess one. date_range_days is optional (defaults to 30).",
        "source": "database",
        "workflowId": { "__rl": true, "mode": "id", "value": "jLa2V5JyIieyDY5V" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query_type": "={{ $fromAI('query_type', 'One of: attendance, deliveries, usage, inventory, incidents, defects, diary, progress, payroll, visitors, certifications, permits, budget', 'string') }}",
            "site_id": "={{ $fromAI('site_id', 'The exact site_id UUID from the contractor site list given in the system message - never invent one', 'string') }}",
            "date_range_days": "={{ $fromAI('date_range_days', 'How many days back to look, defaults to 30', 'number') }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "query_type", "displayName": "query_type", "type": "string", "required": false, "defaultMatch": false, "canBeUsedToMatch": true },
            { "id": "site_id", "displayName": "site_id", "type": "string", "required": false, "defaultMatch": false, "canBeUsedToMatch": true },
            { "id": "date_range_days", "displayName": "date_range_days", "type": "number", "required": false, "defaultMatch": false, "canBeUsedToMatch": true }
          ]
        }
      }
    },
    {
      "id": "n10",
      "name": "Send Agent Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1120, 144],
      "parameters": {
        "method": "POST",
        "url": "https://flatworm-corporal-curing.ngrok-free.dev/message/sendText/mutiso-test5",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "ngrok-skip-browser-warning", "value": "true" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"number\": $('WhatsApp Inbound Webhook').item.json.body.data.key.remoteJid.split('@')[0], \"text\": $json.output } }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": { "id": "vpRac8Wc96KOUhNz", "name": "Evolution API (mutiso-test5)" }
      }
    }
  ],
  "connections": {
    "WhatsApp Inbound Webhook": { "main": [[{ "node": "Is Real Inbound Message", "type": "main", "index": 0 }]] },
    "Is Real Inbound Message": {
      "main": [
        [{ "node": "Resolve Contractor", "type": "main", "index": 0 }],
        []
      ]
    },
    "Resolve Contractor": { "main": [[{ "node": "Has Sites", "type": "main", "index": 0 }]] },
    "Has Sites": {
      "main": [
        [{ "node": "AI Agent", "type": "main", "index": 0 }],
        [{ "node": "Not Recognized Reply", "type": "main", "index": 0 }]
      ]
    },
    "AI Agent": { "main": [[{ "node": "Send Agent Reply", "type": "main", "index": 0 }]] },
    "OpenAI Chat Model": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Chat Memory": { "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]] },
    "query_site_data": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  }
}
